:root {
  /* Colores */
  --background-color: #0c081b;
  --explication: #210f39;
  --solution: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

html, body{
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  display: flex;
  width: 80%;
  height: 70%;
}

.explication-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--explication);
  width: 50%;
  height: 100%;
  color: white;
  padding: 5%;  
  font-size: 15px;
} 

.solution-container{
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: var(--solution);
  width: 50%;
  height: 100%;
}

.solution-container img{
  max-width: 95%;
  max-height: 95%;
  object-fit: cover;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
    height: 90%;
  }
  .explication-container{
    width: 100%;
    height: 100%;
    padding: 5%;  
    font-size: 12px;
  } 
  .solution-container{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .explication-container{ 
    font-size: 13px;
    padding: 4%;
  } 
}